 body {       
   background-image:url('images/loginbackground.jpg');
   background-size:cover;
   background-blend-mode: luminosity;
   background-repeat: no-repeat;
   height: 100vh; 
   background-attachment: fixed;
}

head{
  font-size: 25px;
}

/* THE CODE TO ALIGN LOGO TO THE LEFT AND BUTTONS TO THE RIGHT */
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }
    
    .button-container {
      display: flex;
    }
    
    button {
      border-radius: 50%;
      background-color: linear-gradient(to bottom right, white);
      font-variant: small-caps;
      font-style: oblique;
      font-size: 1em;
      padding: 8px;
      box-shadow: -11px 9px 5px -4px rgba(0,0,0,0.31);
      border: 4px solid red;
      margin: 10px;
      transition-property:transform;
      transition-duration: 0.3s;
      transition-timing-function:ease;
      transition-delay: 0s;
    }
    
    button:hover {
       transform: translate(-10px);
      background-color: lightgray;
    }

/* FORM */

/* Style the white rectangle */
.form-container {

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 70px;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: block;
  text-align: center;

}
.form-container img {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 200px;
  width: 500px;
}

/* Style the form header */
.container h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

/* Style the form inputs */
.container input[type=text],
.container input[type=email],
.container input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #fc0303;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
}

.form-container input[type=text],
.form-container input[type=password] {
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 90%;
  box-sizing: border-box;
}


/* Style the form buttons */
.form-container button {
  background-color: #c2001d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-container label {
  font-size: 18px;
}


/* Style the form cancel button */
.container .cancelbtn {
  background-color: #f44336;
}

/* Float the cancel button to the left */
.container .cancelbtn {
  float: left;
}

/* Add a hover effect to the form buttons */
.container button:hover,
.container .cancelbtn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
	header {
		font-size: 16px;
	}
}